<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
    <head th:replace="~{fragments :: import-css(title='Erro')}" >
        <title>...</title>
    </head>
    <body>
        <div th:replace="~{fragments :: menu-bar(page = '')}" ></div>
        
        <div class="container-fluid px-0" align="center" >
            <h3>Ops... 404 - Rota não encontrada !</h3>
            <a class="btn btn-primary" th:href="@{~/}" role="buton" >Return</a>
        </div>
        
        <div th:replace="~{fragments :: imports-js}" />
    </body>
</html>