<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
    <head th:replace="~{fragments :: import-css(title='Evaluation System')}" >
        <title>...</title>
    </head>
    <body>
        <div th:replace="~{fragments :: menu-bar(page = 'evaluations')}" ></div>
        
        <div class="container" style="margin-top: 10px"> 
            <div class="card-header">
                <h4>
                    Evaluations
                <a class="btn btn-primary float-right" role="button" th:href="@{~/evaluations/evaluation}">Create evaluation</a>
                </h4> 
            </div>
            
            <div class="card" th:each="evaluation : ${evaluations}" >
                <div class="card-body">
                    <h3>Restaurant details</h3>
                    <h6 class="card-title">
                        Name: <span th:text="${evaluation.restaurantName}"> </span> <br/>
                        Category: <span th:text="${evaluation.restaurantCategory}"> </span> <br/>
                        Location: <span th:text="${evaluation.restaurantLocation}"> </span> <br/>
                    </h6> 
                    
                    <h3>Evaluation details</h3>
                    <h6 class="card-title">
                        Note: <span th:text="${evaluation.note}"> </span> <br/>
                        Description <span th:text="${evaluation.description}"> </span> <br/>
                        Date: <!-- <span  th:text="${evaluation.date}"> </span>  --><br/>
                    </h6> 
                    
                    <h3>Client details</h3>
                    
                        Date: <!-- <span  th:text="${evaluation.date}"> </span>  --><br/>
   
                    
                </div>
            </div>
        </div>
        
        <div th:replace="~{fragments :: imports-js}" />
    </body>
</html>
